/* VARS start*/
body {
    --bg-primary: #F4F9F9;
    --bg-secondary: #CCF2F4;
    --bg-tertiary: #A4EBF3;
    --bg-neutral: #fff;
    --text-primary: #0F044C;

    --font-size-modifier: 1;

    --padding-xs: 2px;
    --padding-sm: 4px;
    --padding-md: 8px;
    --padding-lg: 16px;
    --padding-xl: 24px;

    --border-radius: 5px;
}

body[dark="true"] {
    --bg-primary: #0F044C;
    --bg-secondary: #141E61;
    --bg-tertiary: #787A91;
    --bg-neutral: #000;
    --text-primary: #EEEEEE;
}

/* VARS end*/

/* BODY start */

body {
    background: var(--bg-primary);
    color: var(--text-primary);

    margin: 0;
}

/* Modern browser way of doing a clearfix */
button {
    all: unset
}

button[hidden] {
    display: none;
}

/* BODY end */

/* SKIP LINK start */

#skip-to-main-content {
    display: block;
    height: 0;
    overflow: hidden;
}

#skip-to-main-content:focus {
    height: auto;
}

/* SKIP LINK end */

/* NAV start*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-md);

    background: var(--bg-secondary);
    color: var(--text-primary);

    font-family: sans-serif;
}

.toggle-theme-button {
    display: flex;
    align-self: center;
    font-size: calc(22px * var(--font-size-modifier));
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-item {
    position: relative;
}

.menu-item:focus {
    border: 1px solid var(--bg-tertiary);
}

.menu-item__text {
    display: block;
    padding: var(--padding-lg);
    position: relative;
}

.menu-item__text:hover {
    background: var(--bg-tertiary);
    cursor: pointer;
}

.menu-item__submenu {
    position: absolute;
    top: 90%;

    background: var(--bg-neutral);
    border: 1px solid var(--bg-secondary);
    border-radius: var(--border-radius);

    width: 100px;
}

.menu-item__submenu-item {
    padding: var(--padding-md);
    cursor: pointer;
}

.menu-item__submenu-item:hover {
    background: var(--bg-tertiary);
}

.menu-item__submenu-item:not(:first-child) {
    border-top: 1px solid var(--bg-tertiary);
}

/* NAV end*/

/* MAIN start*/

main {
    color: var(--text-primary);

    font-size: calc(14px * var(--font-size-modifier));

    padding: var(--padding-xl);
}

/* MAIN end*/
